.carousel-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .stock-card {
    padding: 20px;
    text-align: center;
    background: #f9f9f9;
  }
  
  .stock-ticker {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'CercoDEMO-Medium';
  }
  
  .slick-next {
    right: -45px;
  }
  
  .slick-prev {
    left: -45px;
  }
  