.stock-datepicker{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .stock-datepicker h1 {
    font-family: 'CercoDEMO-Medium';
    font-size: 24px;
    color: #020000;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .react-datepicker-wrapper {
    width: auto;
  }
  
  .react-datepicker__input-container input {
    padding: 10px 15px;
    border: 1px solid #b2a40e;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'CercoDEMO-Medium';
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    text-align: center;
  }
  
  .react-datepicker__input-container input:focus {
    outline: none;
    border-color: #058233;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #058233; 
    color: white;
  }
  
  .react-datepicker__day--hovered {
    background-color: #b2a40e;
    color: white;
  }

  .datepicker-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;             
    grid-template-columns: 1fr 1fr;
    gap: 10px;   
    font-family: 'CercoDEMO-Medium';;              
}

.datepicker-list li {
    padding: 10px 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.datepicker-list li:hover {
    background-color: #e0e0e0;
}
